body {
    margin: 0px;
    padding: 0px;
    font-family: 'Optima, Segoe, Calibri, Arial, sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-size: medium;
}

#header {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    border-top: 2px solid #44bddb

}
.center {
    width: 75%;
    margin: 0px auto;
}

#logo {
    width: 30%;
    font-size: 21px;
    float: left;
    margin-top: 35px;

}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    animation: girar infinite 30s linear;
    margin-right: 9px;
}
#brand {
    display: block;
    margin: 0px;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}
#menu{
    width:70%;
    float: right;
    font-size: 18px;
    text-align: end;
}
#menu ul{
    line-height: 85px;
    width: 100%;
    float: right;
}
#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin: 0px 3px;
}
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover {
    color: #44bddb;
}

.clearFix{
    clear: both;
    float: none;
}

#slider {
text-align: center;
 width: 100%;
 height: 350px;
 color: white;
 text-shadow: 0px 0px 5px #4444;
 background: #32c3e7;
background: -moz-radial-gradient(center, ellipse cover, #32c3e7 0%, #19a4d2 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #32c3e7), color-stop(100%, #19a4d2));
background: -webkit-radial-gradient(center, ellipse cover, #32c3e7 0%, #19a4d2 100%);
background: -o-radial-gradient(center, ellipse cover, #32c3e7 0%, #19a4d2 100%);
background: -ms-radial-gradient(center, ellipse cover, #32c3e7 0%, #19a4d2 100%);
background: radial-gradient(ellipse at center, #32c3e7 0%, #19a4d2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32c3e7', endColorstr='#19a4d2', GradientType=1 );
}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 140px;
    font-size: 20px;
}
.btn-white{
    display: block;
    background: whitesmoke;
    color: #575757;
    padding: 10px;
    width:80px;
    height: 25px;
    margin: 0px auto;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 25px;
    box-shadow: 0px 0px 5px #444;
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}
.btn-white:hover {
    background: #16667a;
    color:whitesmoke;
} 
#slider.slider-small{
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 65px;
}

#content {
    width: 60%;
    float: left;
    min-height: 450px;
    margin-right: 1rem;
}
#sidebar {
   width: 100%;
    max-width: max-content;
    float: left;
 
}
.sidebar-item{
    text-align: center;
    background: #f7f7f7;
    padding: 1rem;
    margin-top: 2rem;
}
.sidebar-item h3{

    text-transform: uppercase;
    font-size: 1rem;
    margin: 0px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.slider-item .btn {
    margin-top: 10px;
}
.btn {
    display: block;
    background: rgb(34, 34, 34);
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.55rem;
    text-decoration: none;
    max-width: 120px;
    margin: 0px auto;
    margin-top: 10px;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}
.btn-add-article {
    background: #249465;
}
.btn-add-article:hover {
    background-color: #575757;
}
input[type="text"]{
    width: 100%;
    height: 2rem;
    border: 2px solid #cccccc;
    margin-bottom: 5px;
    padding: 3px;
}
input[type="text"]:focus{
    box-shadow: 0px 0px 2px #ccc inset;

}


