body {
    margin: 0px;
    padding: 0px;
    font-family: 'Optima, Segoe, Calibri, Arial, sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-size: medium;
}

#header {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #9bc2cc;

}
.center {
    width: 75%;
    margin: 0px auto;
}

#logo {
    width: 30%;
    font-size: 21px;
    float: left;
    margin-top: 35px;

}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -10px;
    animation: girar infinite 30s linear;
    margin-right: 9px;
}
#brand {
    display: block;
    margin: 0px;
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}
#menu{
    width:70%;
    float: right;
    font-size: 18px;
    text-align: end;
}
#menu ul{
    line-height: 85px;
    width: 100%;
    float: right;
}
#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin: 0px 3px;
}
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover {
    color: #44bddb;
}

.clearFix{
    clear: both;
    float: none;
}