
<div class="center">
        <!-- LOGO -->
        <div id="logo">
            <img src="./assets/images/Logo.svg"  class="app-logo" alt="Logotipo" /> 
            <span id="brand">
                <strong>Curso</strong> ANGULAR
            </span>
        </div>
        <!--- MENU DE NAVEGACIÓN --->
        <nav id="menu">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="formulario.html">Formulario</a></li>
                <li><a href="#">Página 1</a></li>
                <li><a href="#">Página 2</a></li>
            </ul>
        </nav>
        <!--- LIMPIAR FLOTANTES-->
        <div class="clearFix"></div>
</div>

